{% extends 'base.html' %}

{% block title %}Lista de Produtos{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Lista de Produtos</h1>
    {% if produtos %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Valor Inicial</th>
                    <th>Tipo</th>
                    <th>Modalidade</th>
                    <th>Status</th>
                    <th>Local</th>  <!-- Coluna adicionada -->
                    <th>Imagem</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.descricao }}</td>
                    <td>R$ {{ produto.valor_inicial }}</td>
                    <td>{{ produto.tipo }}</td>
                    <td>{{ produto.modalidade }}</td>
                    <td>{{ produto.status }}</td>
                    <td>
                        {% if produto.local %}
                            {{ produto.local.endereco }}
                        {% else %}
                            Sem local
                        {% endif %}
                    </td>
                    <td>
                        {% if produto.imagem %}
                            <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" style="max-height: 100px;">
                        {% else %}
                            Sem imagem
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum produto cadastrado ainda.</p>
    {% endif %}

    <p>
        <a href="{% url 'produto:cadastrar_produtos' %}" class="btn btn-primary">Cadastrar Novo Produto</a>
    </p>
</div>
{% endblock body %}
